/* Reset CSS */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
   
}
body {
    margin: 0;
    padding: 0;
    
    font-size: 15px;
    line-height: 1.42857143;
    color: #1a1a1a;
    font-weight: 500;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
nav ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}
del {
    text-decoration: line-through
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input,
select {
    vertical-align: middle;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover,
a:active,
a:focus,
a:visited {
    cursor: pointer;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
p {
    padding: 0;
}
button {
    cursor: pointer;
    font-family: museo-sans, sans-serif;
}

/* Main CSS */

body, html { min-height: 100%; }
body {
background: -webkit-linear-gradient(left,#222831,#393E46);
background: -moz-linear-gradient(left,#222831,#393E46);
    background: linear-gradient(left,#222831,#393E46);
}

.logo{
    font-family: 'Hamuraz';
    font-size: 50px;
    color: #EA5455;
    display: block;
    text-decoration: none;
    transition: padding-top 1s;
}

.logo:hover{
    color:  white;
    text-decoration: line-through;
    transition: all 1s;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

ul
{
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
li {
    height: 200px;
    width: 200px;
    float: left;
    list-style-type: none;
    color: white;
    font-size:100px;
    line-height: 200px;
    text-align: center;
    cursor:pointer;
    font-family: 'Bold ones';
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    display: block;
}

li:hover{
    background:#66D37E;
    transition: background 1s;
}

.clear{
    background: #FF5722 ;
    width: 150px;
    outline: none;
    border: 0;
    font-size: 20px;
    color: WHITE;
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 2%;
    border-radius: 8px;
}

.clear:hover{
    background:#FFB200;
    transition: background 1s;
}

@media screen and (max-width:450px)
{
    .logo{
        font-size: 40px;
    }
    
    .container
    {
        width: auto;
        height: 50%;
    }
    li
    {
        width: 120px;
        height: 120px;
        
    }
}

@font-face{
    font-family: 'Bold ones';
    src: url('../fonts/Lumberjack.otf');  
}

@font-face{
    font-family: 'Hamuraz';
    src: url('../fonts/Hamurz.otf'); 
}


.btns {
    display: block;
    margin: 1% 0;
}
